*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
}

body > div {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover,
a:not([href]),
a:not([href]):hover {
  text-decoration: none;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 0px;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;

  font-size: inherit;
  line-height: inherit;
  background: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}
